{% load static %}

 <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Выбор теста</title>
    
    <link rel="stylesheet" href="{% static 'mainpage/css/style_main.css' %}">
</head>

<body>
    
<div class="warning">
    <p>Внимание! Пожалуйста, убедитесь, что Вы готовы к тестированию перед началом.</p>
    <p>Время прохождения и количество попыток ограничено!</p>
</div>

<div class="container"> 
    <h1>Выберите тест</h1>
    
    <a href="{% url 'test1' %}" class="test-button">Тест 1</a>

    <a href="{% url 'test3' %}" class="test-button">Тест 3</a>

    <a href="{% url 'student_cabinet' %}" class='button'>Назад в личный кабинет</a>

    <p>Возврат на главную страницу: <a href="{% url 'home' %}">Главная</a>.</p>
    
</div>

</body>
</html>