{% load static %}
<link rel="stylesheet" href="{% static 'mainpage/css/style_test.css' %}">
<h1>Тест: {{ test.name }}</h1>

<form method="post">
    {% csrf_token %}
    {% for question in questions %}
        <div>
            <p><strong>Вопрос {{ forloop.counter }}:</strong> {{ question.text }}</p>
            {% for answer in question.answers.all %}
                <label>
                    <input type="checkbox" name="question_{{ question.id }}" value="{{ answer.id }}">
                    {{ answer.text }}
                </label><br>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit">Отправить ответы</button>
</form>
