{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Личный кабинет преподавателя</title>
    <link rel="stylesheet" href="{% static 'mainpage/css/style_cabinet.css' %}">
</head>
<body>

    <header class="page-header">
        <div class="container">
            <nav>
                <a href="{% url 'home' %}" class="nav-link">Главная</a>
            
            </nav>
        </div>
    </header>

    <h1>Добро пожаловать в личный кабинет преподавателя</h1>
    <p>Здесь отображается информация и настройки преподавателя.</p>

    {% if messages %}
        <ul style="color:green;">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Профиль</h2>
    <div class="profile-readonly" style="border:1px solid #ddd; padding:16px; border-radius:8px; background:#f9f9f9;">
        <p><strong>Имя:</strong> {{ profile.name }}</p>
        <p><strong>Фамилия:</strong> {{ profile.lastname }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>

        {% comment %} <p><strong>Фото:</strong><br>
            {% if profile.photo %}
                <img src="{{ profile.photo.url }}" alt="Фото" style="max-width:200px; border-radius:6px;">
            {% else %}
                <img src="{% static 'mainpage/img/default_user_photo.png' %}" alt="Фото отсутствует" style="max-width:200px; border-radius:6px;">
            {% endif %}
        </p> {% endcomment %}
    </div>

    <h2>Система тестирования</h2>
    <ul>
        <li><a href="{% url 'mainpage' %}">NULL Результаты тестов NULL</a></li>
        <li><a href="{% url 'create_test' %}" class="nav-link">Создать вопрос для теста</a></li>
        <li><a href="{% url 'test_list' %}" class="nav-link">Список тестов</a></li>
        <li><a href="{% url 'edit_test' %}" class="nav-link">Редактировать вопросы для теста</a></li>
        <li><a href="{% url 'merge_test' %}" class="nav-link">Объединить вопросы для тестов в одну форму</a></li>
    </ul>

    <h2>V2.0 Домашние задания</h2>
    {% comment %} <ul>
        <li><a href="{% url 'homework_upload' %}">V2.0 Загрузить домашнее задание</a></li>
        <li><a href="{% url 'homework_download' %}">V2.0 Скачать домашнее задание</a></li>
    </ul> {% endcomment %}

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>

</body>
</html>
