{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Личный кабинет учителя</title>
    <link rel="stylesheet" href="{% static 'mainpage/css/style_profile.css' %}">
</head>
<body>

   <header class="page-header">
        <div class="container">
            <nav>
                <a href="{% url 'home' %}" class="nav-link">Главная</a>
            </nav>
        </div>
    </header> 
    
    <h1>Добро пожаловать в личный кабинет, {{ user.first_name }}!</h1>
    <p>Ваши данные:</p>
    <ul>
        <li>Имя: {{ user.first_name }}</li>
        <li>Фамилия: {{ user.last_name }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Имя пользователя: {{ user.username }}</li>
    </ul>
    <a href="{% url 'create_test' %}" class="nav-link">Создать тест</a>
    <a href="{% url 'test_list' %}" class="nav-link">Список тестов</a>
    <a href="{% url 'edit_test' %}" class="nav-link">Редактировать тесты</a>
    <a href="{% url 'merge_test' %}" class="nav-link">Обьединить тесты в один</a>
</body>
</html>
