{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8" />
<title>Тест</title>
<link rel="stylesheet" href="{% static 'mainpage/css/script.js' %}">
</head>
<body>
<h2>{{ question.question_text }}</h2>

<form method="post" id="question-form">
{% csrf_token %}
{% if question.question_type == 'multiple-choice' %}
    {% for answer in question.answers %}
      <label>
          <input type="checkbox" name="answers" value="{{ answer.id }}">
          {{ answer.answer_text }}
      </label><br>
    {% endfor %}
{% elif question.question_type == 'text-input' %}
    <input type="text" name="user_answer" required>
{% endif %}
<br>
<button type="submit">Ответить</button>
</form>
</body>
</html>