<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Список тестов</title>
</head>
<body>
    <h1>Список тестов</h1> 

<ul>
    {% for test in tests %}
        <li>
            {{ test.title }} — <a href="{% url 'take_test' test.id %}">Пройти тест</a> — 
            <a href="{% url 'delete_test' test.id %}">Удалить</a>
        </li>
    {% empty %}
        <li>Пока нет тестов</li>
    {% endfor %}
</ul>
    <a href="{% url 'teacher_profile' %}" class="nav-link">В профиль</a>
    <a href="{% url 'merge_test' %}" class="nav-link">Обьединить тесты в один</a>
</body>
</html>