{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'mainpage/css/style_register.css' %}">
</head>
<body>

    <h1>Регистрация нового пользователя</h1>

    <form method="post" class="register-form" novalidate>
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Зарегистрироваться</button>
    </form>

    <p>Есть аккаунт? <a href="{% url 'student_login' %}">Войти</a></p>

    <p>Возврат на главную страницу: <a href="{% url 'home' %}">Главная</a>.</p>
</body>
</html>